<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>twtrbot</title>
    <meta name="description" content="A continously running twitterbot that performs a variety of tasks">
    <meta name="author" content="@bobbyg603">

    <!-- styles -->
    <link href="stylesheets/style.css" rel="stylesheet">
    
    <!--<script src="/socket.io/socket.io.js"></script>-->
    <script src="http://twtrbot.herokuapp.com/socket.io/socket.io.js"></script>
    <script>
      //var socket = io.connect('https://twtrbot-c9-bobbyg603.c9.io/');
      var socket = io.connect('http://twtrbot.herokuapp.com/');
      
      socket.on('server data', function (data) {
        //console.log(data);
        var log = document.getElementById('log');
        log.innerHTML += "<br/>" + data;
      });

    function sendDataToServer()
    {
        //alert("Button clicked!");
        var addQuery = document.getElementById("addQuery").value;
        var removeQuery = document.getElementById("removeQuery").value;
        
        if(addQuery!="") socket.emit('add query', addQuery);
        if(removeQuery!="") socket.emit('remove query', removeQuery);
    }
   </script>
    

  </head>
  <body>
  
    <h2>twtrbot 0.2</h2>
    
    <form onSubmit='sendDataToServer();'>        
      <input id="addQuery" type="text"/>Add Query
      <input id="removeQuery" type="text"/>Remove Query
      <input type="submit" value="Submit">
    </form>
    <hr/>
    <div id="log"></div>
    
  </body>
</html>